/*Font*/

$ff-all:sans-serif;
$fs-NavLink:0.75rem;
$fs-DropDownLink:0.875rem;
$fs-DropDownHeading:2.2rem;
$fs-DropDownBtn:0.75rem;
$fs-HeroHeading:1.9rem;
$fs-HeroBtn:0.75rem;
$fs-MainGiftHeading:1.25rem;
$fs-GiftCardHeading:0.875rem;
$fs-GiftPrice:0.75rem;
$weight:500;


/*Colors*/
$Clr-Navbar:#181818;
$Clr-Gift-Heading:#1B1B1B


